{% extends 'base.html' %}

{% block content %}
<main>
            <h2>Кулинарный портал</h2>
            <div class="d-flex justify-content-between">
                <div class="col-3">
                    <!-- Sidebar-->
                    <div class="list-group">
                    {% for post in posts %}
                        <a href="#!" class="list-group-item list-group-item-action">{{ post.category }}</a>
                    {% endfor %}

                    </div>
                </div>
                <!-- Posts-->
                <div class="col-8">
                    <!-- Post-->
                    {% for post in posts %}
                    <div class="card text-center"><div class="card-header">{{post.category}}</div>
                        <div class="card-body"><h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.content}}</p>
                            <a href="#!" class="btn btn-primary">Читать</a></div>
                        <div class="card-footer text-muted">{{post.created_at}}</div>
                    </div>
                    {% endfor %}
                    <!-- Post-->
                </div>
            </div>
        </main>
{% endblock content %}