{% extends 'base.html' %}
{% block content %}

            <h2>Кулинарный портал</h2>
            <div class="d-flex justify-content-between">
                <div class="col-3">
                    <!-- Sidebar-->
                    {% include 'cooking/components/sidebar.html' %}

                </div>
                <!-- Posts-->
                <div class="col-8">
                    <!-- Post-->
                  {% include 'cooking/components/posts_list.html' %}
                    <!-- Post-->
                </div>
            </div>

{% endblock content %}